/*
  spaceBase version: 3.0.1
  http://spacebase.space150.com
*/
.gameCrusher3Wrap .gw,
.gameCrusher3Wrap .grid-wrapper {
  list-style: none;
  margin-bottom: 0;
  margin-left: -2%; }
  .gameCrusher3Wrap .gw:after,
  .gameCrusher3Wrap .grid-wrapper:after {
    display: table;
    content: "";
    clear: both; }

.gameCrusher3Wrap .gw--rev > .g,
.gameCrusher3Wrap .grid-wrapper--rev > .grid {
  float: right; }

.gameCrusher3Wrap .gw--full,
.gameCrusher3Wrap .grid-wrapper--full {
  margin-left: 0; }
  .gameCrusher3Wrap .gw--full > .g,
  .gameCrusher3Wrap .gw--full > .grid,
  .gameCrusher3Wrap .grid-wrapper--full > .g,
  .gameCrusher3Wrap .grid-wrapper--full > .grid {
    padding-left: 0; }

.gameCrusher3Wrap .gw > .gw,
.gameCrusher3Wrap .grid-wrapper > .grid-wrapper {
  margin-left: 0; }

.gameCrusher3Wrap .g,
.gameCrusher3Wrap .grid {
  float: left;
  width: 100%;
  padding-left: 2%;
  transition: width .15s ease; }

.gameCrusher3Wrap .one-whole {
  width: 100%; }

.gameCrusher3Wrap .one-half, .gameCrusher3Wrap .two-quarters, .gameCrusher3Wrap .three-sixths, .gameCrusher3Wrap .four-eighths, .gameCrusher3Wrap .five-tenths, .gameCrusher3Wrap .six-twelfths {
  width: 50%; }

.gameCrusher3Wrap .one-third, .gameCrusher3Wrap .two-sixths, .gameCrusher3Wrap .four-twelfths {
  width: 33.33333%; }

.gameCrusher3Wrap .two-thirds, .gameCrusher3Wrap .four-sixths, .gameCrusher3Wrap .eight-twelfths {
  width: 66.66667%; }

.gameCrusher3Wrap .one-quarter, .gameCrusher3Wrap .two-eighths, .gameCrusher3Wrap .three-twelfths {
  width: 25%; }

.gameCrusher3Wrap .three-quarters, .gameCrusher3Wrap .six-eighths, .gameCrusher3Wrap .nine-twelfths {
  width: 75%; }

.gameCrusher3Wrap .one-fifth, .gameCrusher3Wrap .two-tenths {
  width: 20%; }

.gameCrusher3Wrap .two-fifths, .gameCrusher3Wrap .four-tenths {
  width: 40%; }

.gameCrusher3Wrap .three-fifths, .gameCrusher3Wrap .six-tenths {
  width: 60%; }

.gameCrusher3Wrap .four-fifths, .gameCrusher3Wrap .eight-tenths {
  width: 80%; }

.gameCrusher3Wrap .one-sixth, .gameCrusher3Wrap .two-twelfths {
  width: 16.66667%; }

.gameCrusher3Wrap .five-sixths, .gameCrusher3Wrap .ten-twelfths {
  width: 83.33333%; }

.gameCrusher3Wrap .one-eighth {
  width: 12.5%; }

.gameCrusher3Wrap .three-eighths {
  width: 37.5%; }

.gameCrusher3Wrap .five-eighths {
  width: 62.5%; }

.gameCrusher3Wrap .seven-eighths {
  width: 87.5%; }

.gameCrusher3Wrap .one-tenth {
  width: 10%; }

.gameCrusher3Wrap .three-tenths {
  width: 30%; }

.gameCrusher3Wrap .seven-tenths {
  width: 70%; }

.gameCrusher3Wrap .nine-tenths {
  width: 90%; }

.gameCrusher3Wrap .one-twelfth {
  width: 8.33333%; }

.gameCrusher3Wrap .five-twelfths {
  width: 41.66667%; }

.gameCrusher3Wrap .seven-twelfths {
  width: 58.33333%; }

.gameCrusher3Wrap .eleven-twelfths {
  width: 91.66667%; }

.gameCrusher3Wrap .hand-one-whole {
  width: 100%; }

.gameCrusher3Wrap .hand-one-half, .gameCrusher3Wrap .hand-two-quarters, .gameCrusher3Wrap .hand-three-sixths, .gameCrusher3Wrap .hand-four-eighths, .gameCrusher3Wrap .hand-five-tenths, .gameCrusher3Wrap .hand-six-twelfths {
  width: 50%; }

.gameCrusher3Wrap .hand-one-third, .gameCrusher3Wrap .hand-two-sixths, .gameCrusher3Wrap .hand-four-twelfths {
  width: 33.33333%; }

.gameCrusher3Wrap .hand-two-thirds, .gameCrusher3Wrap .hand-four-sixths, .gameCrusher3Wrap .hand-eight-twelfths {
  width: 66.66667%; }

.gameCrusher3Wrap .hand-one-quarter, .gameCrusher3Wrap .hand-two-eighths, .gameCrusher3Wrap .hand-three-twelfths {
  width: 25%; }

.gameCrusher3Wrap .hand-three-quarters, .gameCrusher3Wrap .hand-six-eighths, .gameCrusher3Wrap .hand-nine-twelfths {
  width: 75%; }

.gameCrusher3Wrap .hand-one-fifth, .gameCrusher3Wrap .hand-two-tenths {
  width: 20%; }

.gameCrusher3Wrap .hand-two-fifths, .gameCrusher3Wrap .hand-four-tenths {
  width: 40%; }

.gameCrusher3Wrap .hand-three-fifths, .gameCrusher3Wrap .hand-six-tenths {
  width: 60%; }

.gameCrusher3Wrap .hand-four-fifths, .gameCrusher3Wrap .hand-eight-tenths {
  width: 80%; }

.gameCrusher3Wrap .hand-one-sixth, .gameCrusher3Wrap .hand-two-twelfths {
  width: 16.66667%; }

.gameCrusher3Wrap .hand-five-sixths, .gameCrusher3Wrap .hand-ten-twelfths {
  width: 83.33333%; }

.gameCrusher3Wrap .hand-one-eighth {
  width: 12.5%; }

.gameCrusher3Wrap .hand-three-eighths {
  width: 37.5%; }

.gameCrusher3Wrap .hand-five-eighths {
  width: 62.5%; }

.gameCrusher3Wrap .hand-seven-eighths {
  width: 87.5%; }

.gameCrusher3Wrap .hand-one-tenth {
  width: 10%; }

.gameCrusher3Wrap .hand-three-tenths {
  width: 30%; }

.gameCrusher3Wrap .hand-seven-tenths {
  width: 70%; }

.gameCrusher3Wrap .hand-nine-tenths {
  width: 90%; }

.gameCrusher3Wrap .hand-one-twelfth {
  width: 8.33333%; }

.gameCrusher3Wrap .hand-five-twelfths {
  width: 41.66667%; }

.gameCrusher3Wrap .hand-seven-twelfths {
  width: 58.33333%; }

.gameCrusher3Wrap .hand-eleven-twelfths {
  width: 91.66667%; }

.gameCrusher3Wrap .lap-one-whole {
  width: 100%; }

.gameCrusher3Wrap .lap-one-half, .gameCrusher3Wrap .lap-two-quarters, .gameCrusher3Wrap .lap-three-sixths, .gameCrusher3Wrap .lap-four-eighths, .gameCrusher3Wrap .lap-five-tenths, .gameCrusher3Wrap .lap-six-twelfths {
  width: 50%; }

.gameCrusher3Wrap .lap-one-third, .gameCrusher3Wrap .lap-two-sixths, .gameCrusher3Wrap .lap-four-twelfths {
  width: 33.33333%; }

.gameCrusher3Wrap .lap-two-thirds, .gameCrusher3Wrap .lap-four-sixths, .gameCrusher3Wrap .lap-eight-twelfths {
  width: 66.66667%; }

.gameCrusher3Wrap .lap-one-quarter, .gameCrusher3Wrap .lap-two-eighths, .gameCrusher3Wrap .lap-three-twelfths {
  width: 25%; }

.gameCrusher3Wrap .lap-three-quarters, .gameCrusher3Wrap .lap-six-eighths, .gameCrusher3Wrap .lap-nine-twelfths {
  width: 75%; }

.gameCrusher3Wrap .lap-one-fifth, .gameCrusher3Wrap .lap-two-tenths {
  width: 20%; }

.gameCrusher3Wrap .lap-two-fifths, .gameCrusher3Wrap .lap-four-tenths {
  width: 40%; }

.gameCrusher3Wrap .lap-three-fifths, .gameCrusher3Wrap .lap-six-tenths {
  width: 60%; }

.gameCrusher3Wrap .lap-four-fifths, .gameCrusher3Wrap .lap-eight-tenths {
  width: 80%; }

.gameCrusher3Wrap .lap-one-sixth, .gameCrusher3Wrap .lap-two-twelfths {
  width: 16.66667%; }

.gameCrusher3Wrap .lap-five-sixths, .gameCrusher3Wrap .lap-ten-twelfths {
  width: 83.33333%; }

.gameCrusher3Wrap .lap-one-eighth {
  width: 12.5%; }

.gameCrusher3Wrap .lap-three-eighths {
  width: 37.5%; }

.gameCrusher3Wrap .lap-five-eighths {
  width: 62.5%; }

.gameCrusher3Wrap .lap-seven-eighths {
  width: 87.5%; }

.gameCrusher3Wrap .lap-one-tenth {
  width: 10%; }

.gameCrusher3Wrap .lap-three-tenths {
  width: 30%; }

.gameCrusher3Wrap .lap-seven-tenths {
  width: 70%; }

.gameCrusher3Wrap .lap-nine-tenths {
  width: 90%; }

.gameCrusher3Wrap .lap-one-twelfth {
  width: 8.33333%; }

.gameCrusher3Wrap .lap-five-twelfths {
  width: 41.66667%; }

.gameCrusher3Wrap .lap-seven-twelfths {
  width: 58.33333%; }

.gameCrusher3Wrap .lap-eleven-twelfths {
  width: 91.66667%; }

.gameCrusher3Wrap .cf:after {
  display: table;
  content: "";
  clear: both; }

.gameCrusher3Wrap .ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

.gameCrusher3Wrap .hidden {
  display: none;
  visibility: hidden; }

.gameCrusher3Wrap .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.gameCrusher3Wrap .visuallyhidden.focusable:active,
.gameCrusher3Wrap .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.gameCrusher3Wrap .hidden-hand-and-up {
  display: none; }

.gameCrusher3Wrap .hidden-lap-and-up {
  display: none; }

.gameCrusher3Wrap .hidden-below-desk {
  display: none; }

.gameCrusher3Wrap .hidden-below-wall {
  display: none; }

.gameCrusher3Wrap .float-right {
  float: right !important; }

.gameCrusher3Wrap .float-left {
  float: left !important; }

.gameCrusher3Wrap .text-left {
  text-align: left !important; }

.gameCrusher3Wrap .text-center {
  text-align: center !important; }

.gameCrusher3Wrap .text-right {
  text-align: right !important; }

.gameCrusher3Wrap .text-upper {
  text-transform: uppercase !important; }

.gameCrusher3Wrap .text-strong {
  font-weight: bold !important; }

.gameCrusher3Wrap .text-nowrap {
  white-space: nowrap !important; }

.gameCrusher3Wrap .display-table {
  display: table;
  width: 100%; }

.gameCrusher3Wrap .display-row {
  display: table-row; }

.gameCrusher3Wrap .display-cell {
  display: table-cell;
  vertical-align: middle; }

.gameCrusher3Wrap .anchor-plain {
  color: inherit; }
  .gameCrusher3Wrap .anchor-plain:hover, .gameCrusher3Wrap .anchor-plain:focus {
    text-decoration: none; }

html .gameCrusher3Wrap {
  font: 0.625em/2.8 "Lato", Arial, Helvetica, sans-serif !important;
  color: #333333;
  background: #ffffff;
  -webkit-tap-highlight-color: transparent; }

.gameCrusher3Wrap a {
  color: #7abcb5;
  text-decoration: none; }
  .gameCrusher3Wrap a:hover, .gameCrusher3Wrap a:focus {
    text-decoration: underline; }

.gameCrusher3Wrap i {
  font-style: normal; }

.gameCrusher3Wrap h1, .gameCrusher3Wrap .h1,
.gameCrusher3Wrap h2, .gameCrusher3Wrap .h2,
.gameCrusher3Wrap h3, .gameCrusher3Wrap .h3,
.gameCrusher3Wrap h4, .gameCrusher3Wrap .h4,
.gameCrusher3Wrap h5, .gameCrusher3Wrap .h5,
.gameCrusher3Wrap h6, .gameCrusher3Wrap .h6 {
  font-family: "Lato", Arial, Helvetica, sans-serif !important;
  font-weight: normal; }

.gameCrusher3Wrap h1, .gameCrusher3Wrap .h1 {
  font-size: 18.75px;
  line-height: 1; }

.gameCrusher3Wrap h2, .gameCrusher3Wrap .h2 {
  font-size: 12.5px;
  line-height: 1.2; }

.gameCrusher3Wrap h3, .gameCrusher3Wrap .h3 {
  font-size: 10px;
  line-height: 1.4; }

.gameCrusher3Wrap h4, .gameCrusher3Wrap .h4 {
  font-size: 8.75px; }

.gameCrusher3Wrap h1, .gameCrusher3Wrap .h1 {
  font-size: 36px; }

.gameCrusher3Wrap h2, .gameCrusher3Wrap .h2 {
  font-size: 24px; }

.gameCrusher3Wrap h3, .gameCrusher3Wrap .h3 {
  font-size: 15px; }

.gameCrusher3Wrap h4, .gameCrusher3Wrap .h4 {
  font-size: 12px; }

.gameCrusher3Wrap .island,
.gameCrusher3Wrap .islet,
.gameCrusher3Wrap .landmark,
.gameCrusher3Wrap .landmarklet {
  display: block; }
  .gameCrusher3Wrap .island:after,
  .gameCrusher3Wrap .islet:after,
  .gameCrusher3Wrap .landmark:after,
  .gameCrusher3Wrap .landmarklet:after {
    display: table;
    content: "";
    clear: both; }
  .gameCrusher3Wrap .island > :last-child,
  .gameCrusher3Wrap .islet > :last-child,
  .gameCrusher3Wrap .landmark > :last-child,
  .gameCrusher3Wrap .landmarklet > :last-child {
    margin-bottom: 0; }

.gameCrusher3Wrap .island {
  padding-top: 28px;
  padding-bottom: 28px; }

.gameCrusher3Wrap .islet {
  padding-top: 14px;
  padding-bottom: 14px; }

.gameCrusher3Wrap .landmark {
  margin-bottom: 56px; }

.gameCrusher3Wrap .landmarklet {
  margin-bottom: 28px; }

.gameCrusher3Wrap .media:after {
  display: table;
  content: "";
  clear: both; }

.gameCrusher3Wrap .media__item {
  float: left;
  margin-right: 14px; }
  .gameCrusher3Wrap .media__item img,
  .gameCrusher3Wrap .media__item video,
  .gameCrusher3Wrap .media__item iframe,
  .gameCrusher3Wrap .media__item object {
    display: block; }

.gameCrusher3Wrap .media__body,
.gameCrusher3Wrap .media__body > :last-child {
  margin-bottom: 0; }

.gameCrusher3Wrap .media--flip > .media__item {
  float: right;
  margin-right: 0;
  margin-left: 14px; }

.gameCrusher3Wrap .media--nowrap > .media__body {
  overflow: hidden; }

.gameCrusher3Wrap .media--valign {
  display: table;
  width: 100%; }
  .gameCrusher3Wrap .media--valign .media__item,
  .gameCrusher3Wrap .media--valign .media__body {
    float: none;
    display: table-cell;
    vertical-align: middle; }
  .gameCrusher3Wrap .media--valign .media__item {
    padding-right: 14px; }
    .gameCrusher3Wrap .media--valign .media__item img {
      width: auto !important;
      max-width: none !important; }

body {
  min-width: 320px; }

.gameCrusher3Wrap .site-wrapper {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%; }
