/*
  spaceBase version: 3.0.1
  http://spacebase.space150.com
*/
.gameCrusher3Wrap .gw,
.gameCrusher3Wrap .grid-wrapper {
  list-style: none;
  margin-bottom: 0;
  margin-left: -2%; }
  .gameCrusher3Wrap .gw:after,
  .gameCrusher3Wrap .grid-wrapper:after {
    display: table;
    content: "";
    clear: both; }

.gameCrusher3Wrap .gw--rev > .g,
.gameCrusher3Wrap .grid-wrapper--rev > .grid {
  float: right; }

.gameCrusher3Wrap .gw--full,
.gameCrusher3Wrap .grid-wrapper--full {
  margin-left: 0; }
  .gameCrusher3Wrap .gw--full > .g,
  .gameCrusher3Wrap .gw--full > .grid,
  .gameCrusher3Wrap .grid-wrapper--full > .g,
  .gameCrusher3Wrap .grid-wrapper--full > .grid {
    padding-left: 0; }

.gameCrusher3Wrap .gw > .gw,
.gameCrusher3Wrap .grid-wrapper > .grid-wrapper {
  margin-left: 0; }

.gameCrusher3Wrap .g,
.gameCrusher3Wrap .grid {
  float: left;
  width: 100%;
  padding-left: 2%;
  transition: width .15s ease; }

.gameCrusher3Wrap .one-whole {
  width: 100%; }

.gameCrusher3Wrap .one-half, .gameCrusher3Wrap .two-quarters, .gameCrusher3Wrap .three-sixths, .gameCrusher3Wrap .four-eighths, .gameCrusher3Wrap .five-tenths, .gameCrusher3Wrap .six-twelfths {
  width: 50%; }

.gameCrusher3Wrap .one-third, .gameCrusher3Wrap .two-sixths, .gameCrusher3Wrap .four-twelfths {
  width: 33.33333%; }

.gameCrusher3Wrap .two-thirds, .gameCrusher3Wrap .four-sixths, .gameCrusher3Wrap .eight-twelfths {
  width: 66.66667%; }

.gameCrusher3Wrap .one-quarter, .gameCrusher3Wrap .two-eighths, .gameCrusher3Wrap .three-twelfths {
  width: 25%; }

.gameCrusher3Wrap .three-quarters, .gameCrusher3Wrap .six-eighths, .gameCrusher3Wrap .nine-twelfths {
  width: 75%; }

.gameCrusher3Wrap .one-fifth, .gameCrusher3Wrap .two-tenths {
  width: 20%; }

.gameCrusher3Wrap .two-fifths, .gameCrusher3Wrap .four-tenths {
  width: 40%; }

.gameCrusher3Wrap .three-fifths, .gameCrusher3Wrap .six-tenths {
  width: 60%; }

.gameCrusher3Wrap .four-fifths, .gameCrusher3Wrap .eight-tenths {
  width: 80%; }

.gameCrusher3Wrap .one-sixth, .gameCrusher3Wrap .two-twelfths {
  width: 16.66667%; }

.gameCrusher3Wrap .five-sixths, .gameCrusher3Wrap .ten-twelfths {
  width: 83.33333%; }

.gameCrusher3Wrap .one-eighth {
  width: 12.5%; }

.gameCrusher3Wrap .three-eighths {
  width: 37.5%; }

.gameCrusher3Wrap .five-eighths {
  width: 62.5%; }

.gameCrusher3Wrap .seven-eighths {
  width: 87.5%; }

.gameCrusher3Wrap .one-tenth {
  width: 10%; }

.gameCrusher3Wrap .three-tenths {
  width: 30%; }

.gameCrusher3Wrap .seven-tenths {
  width: 70%; }

.gameCrusher3Wrap .nine-tenths {
  width: 90%; }

.gameCrusher3Wrap .one-twelfth {
  width: 8.33333%; }

.gameCrusher3Wrap .five-twelfths {
  width: 41.66667%; }

.gameCrusher3Wrap .seven-twelfths {
  width: 58.33333%; }

.gameCrusher3Wrap .eleven-twelfths {
  width: 91.66667%; }

@media screen and (min-width: 20em) {
  .gameCrusher3Wrap .hand-one-whole {
    width: 100%; }
  .gameCrusher3Wrap .hand-one-half, .gameCrusher3Wrap .hand-two-quarters, .gameCrusher3Wrap .hand-three-sixths, .gameCrusher3Wrap .hand-four-eighths, .gameCrusher3Wrap .hand-five-tenths, .gameCrusher3Wrap .hand-six-twelfths {
    width: 50%; }
  .gameCrusher3Wrap .hand-one-third, .gameCrusher3Wrap .hand-two-sixths, .gameCrusher3Wrap .hand-four-twelfths {
    width: 33.33333%; }
  .gameCrusher3Wrap .hand-two-thirds, .gameCrusher3Wrap .hand-four-sixths, .gameCrusher3Wrap .hand-eight-twelfths {
    width: 66.66667%; }
  .gameCrusher3Wrap .hand-one-quarter, .gameCrusher3Wrap .hand-two-eighths, .gameCrusher3Wrap .hand-three-twelfths {
    width: 25%; }
  .gameCrusher3Wrap .hand-three-quarters, .gameCrusher3Wrap .hand-six-eighths, .gameCrusher3Wrap .hand-nine-twelfths {
    width: 75%; }
  .gameCrusher3Wrap .hand-one-fifth, .gameCrusher3Wrap .hand-two-tenths {
    width: 20%; }
  .gameCrusher3Wrap .hand-two-fifths, .gameCrusher3Wrap .hand-four-tenths {
    width: 40%; }
  .gameCrusher3Wrap .hand-three-fifths, .gameCrusher3Wrap .hand-six-tenths {
    width: 60%; }
  .gameCrusher3Wrap .hand-four-fifths, .gameCrusher3Wrap .hand-eight-tenths {
    width: 80%; }
  .gameCrusher3Wrap .hand-one-sixth, .gameCrusher3Wrap .hand-two-twelfths {
    width: 16.66667%; }
  .gameCrusher3Wrap .hand-five-sixths, .gameCrusher3Wrap .hand-ten-twelfths {
    width: 83.33333%; }
  .gameCrusher3Wrap .hand-one-eighth {
    width: 12.5%; }
  .gameCrusher3Wrap .hand-three-eighths {
    width: 37.5%; }
  .gameCrusher3Wrap .hand-five-eighths {
    width: 62.5%; }
  .gameCrusher3Wrap .hand-seven-eighths {
    width: 87.5%; }
  .gameCrusher3Wrap .hand-one-tenth {
    width: 10%; }
  .gameCrusher3Wrap .hand-three-tenths {
    width: 30%; }
  .gameCrusher3Wrap .hand-seven-tenths {
    width: 70%; }
  .gameCrusher3Wrap .hand-nine-tenths {
    width: 90%; }
  .gameCrusher3Wrap .hand-one-twelfth {
    width: 8.33333%; }
  .gameCrusher3Wrap .hand-five-twelfths {
    width: 41.66667%; }
  .gameCrusher3Wrap .hand-seven-twelfths {
    width: 58.33333%; }
  .gameCrusher3Wrap .hand-eleven-twelfths {
    width: 91.66667%; } }

@media screen and (min-width: 40.625em) {
  .gameCrusher3Wrap .lap-one-whole {
    width: 100%; }
  .gameCrusher3Wrap .lap-one-half, .gameCrusher3Wrap .lap-two-quarters, .gameCrusher3Wrap .lap-three-sixths, .gameCrusher3Wrap .lap-four-eighths, .gameCrusher3Wrap .lap-five-tenths, .gameCrusher3Wrap .lap-six-twelfths {
    width: 50%; }
  .gameCrusher3Wrap .lap-one-third, .gameCrusher3Wrap .lap-two-sixths, .gameCrusher3Wrap .lap-four-twelfths {
    width: 33.33333%; }
  .gameCrusher3Wrap .lap-two-thirds, .gameCrusher3Wrap .lap-four-sixths, .gameCrusher3Wrap .lap-eight-twelfths {
    width: 66.66667%; }
  .gameCrusher3Wrap .lap-one-quarter, .gameCrusher3Wrap .lap-two-eighths, .gameCrusher3Wrap .lap-three-twelfths {
    width: 25%; }
  .gameCrusher3Wrap .lap-three-quarters, .gameCrusher3Wrap .lap-six-eighths, .gameCrusher3Wrap .lap-nine-twelfths {
    width: 75%; }
  .gameCrusher3Wrap .lap-one-fifth, .gameCrusher3Wrap .lap-two-tenths {
    width: 20%; }
  .gameCrusher3Wrap .lap-two-fifths, .gameCrusher3Wrap .lap-four-tenths {
    width: 40%; }
  .gameCrusher3Wrap .lap-three-fifths, .gameCrusher3Wrap .lap-six-tenths {
    width: 60%; }
  .gameCrusher3Wrap .lap-four-fifths, .gameCrusher3Wrap .lap-eight-tenths {
    width: 80%; }
  .gameCrusher3Wrap .lap-one-sixth, .gameCrusher3Wrap .lap-two-twelfths {
    width: 16.66667%; }
  .gameCrusher3Wrap .lap-five-sixths, .gameCrusher3Wrap .lap-ten-twelfths {
    width: 83.33333%; }
  .gameCrusher3Wrap .lap-one-eighth {
    width: 12.5%; }
  .gameCrusher3Wrap .lap-three-eighths {
    width: 37.5%; }
  .gameCrusher3Wrap .lap-five-eighths {
    width: 62.5%; }
  .gameCrusher3Wrap .lap-seven-eighths {
    width: 87.5%; }
  .gameCrusher3Wrap .lap-one-tenth {
    width: 10%; }
  .gameCrusher3Wrap .lap-three-tenths {
    width: 30%; }
  .gameCrusher3Wrap .lap-seven-tenths {
    width: 70%; }
  .gameCrusher3Wrap .lap-nine-tenths {
    width: 90%; }
  .gameCrusher3Wrap .lap-one-twelfth {
    width: 8.33333%; }
  .gameCrusher3Wrap .lap-five-twelfths {
    width: 41.66667%; }
  .gameCrusher3Wrap .lap-seven-twelfths {
    width: 58.33333%; }
  .gameCrusher3Wrap .lap-eleven-twelfths {
    width: 91.66667%; } }

@media screen and (min-width: 56.25em) {
  .gameCrusher3Wrap .desk-one-whole {
    width: 100%; }
  .gameCrusher3Wrap .desk-one-half, .gameCrusher3Wrap .desk-two-quarters, .gameCrusher3Wrap .desk-three-sixths, .gameCrusher3Wrap .desk-four-eighths, .gameCrusher3Wrap .desk-five-tenths, .gameCrusher3Wrap .desk-six-twelfths {
    width: 50%; }
  .gameCrusher3Wrap .desk-one-third, .gameCrusher3Wrap .desk-two-sixths, .gameCrusher3Wrap .desk-four-twelfths {
    width: 33.33333%; }
  .gameCrusher3Wrap .desk-two-thirds, .gameCrusher3Wrap .desk-four-sixths, .gameCrusher3Wrap .desk-eight-twelfths {
    width: 66.66667%; }
  .gameCrusher3Wrap .desk-one-quarter, .gameCrusher3Wrap .desk-two-eighths, .gameCrusher3Wrap .desk-three-twelfths {
    width: 25%; }
  .gameCrusher3Wrap .desk-three-quarters, .gameCrusher3Wrap .desk-six-eighths, .gameCrusher3Wrap .desk-nine-twelfths {
    width: 75%; }
  .gameCrusher3Wrap .desk-one-fifth, .gameCrusher3Wrap .desk-two-tenths {
    width: 20%; }
  .gameCrusher3Wrap .desk-two-fifths, .gameCrusher3Wrap .desk-four-tenths {
    width: 40%; }
  .gameCrusher3Wrap .desk-three-fifths, .gameCrusher3Wrap .desk-six-tenths {
    width: 60%; }
  .gameCrusher3Wrap .desk-four-fifths, .gameCrusher3Wrap .desk-eight-tenths {
    width: 80%; }
  .gameCrusher3Wrap .desk-one-sixth, .gameCrusher3Wrap .desk-two-twelfths {
    width: 16.66667%; }
  .gameCrusher3Wrap .desk-five-sixths, .gameCrusher3Wrap .desk-ten-twelfths {
    width: 83.33333%; }
  .gameCrusher3Wrap .desk-one-eighth {
    width: 12.5%; }
  .gameCrusher3Wrap .desk-three-eighths {
    width: 37.5%; }
  .gameCrusher3Wrap .desk-five-eighths {
    width: 62.5%; }
  .gameCrusher3Wrap .desk-seven-eighths {
    width: 87.5%; }
  .gameCrusher3Wrap .desk-one-tenth {
    width: 10%; }
  .gameCrusher3Wrap .desk-three-tenths {
    width: 30%; }
  .gameCrusher3Wrap .desk-seven-tenths {
    width: 70%; }
  .gameCrusher3Wrap .desk-nine-tenths {
    width: 90%; }
  .gameCrusher3Wrap .desk-one-twelfth {
    width: 8.33333%; }
  .gameCrusher3Wrap .desk-five-twelfths {
    width: 41.66667%; }
  .gameCrusher3Wrap .desk-seven-twelfths {
    width: 58.33333%; }
  .gameCrusher3Wrap .desk-eleven-twelfths {
    width: 91.66667%; } }

@media screen and (min-width: 75em) {
  .gameCrusher3Wrap .wall-one-whole {
    width: 100%; }
  .gameCrusher3Wrap .wall-one-half, .gameCrusher3Wrap .wall-two-quarters, .gameCrusher3Wrap .wall-three-sixths, .gameCrusher3Wrap .wall-four-eighths, .gameCrusher3Wrap .wall-five-tenths, .gameCrusher3Wrap .wall-six-twelfths {
    width: 50%; }
  .gameCrusher3Wrap .wall-one-third, .gameCrusher3Wrap .wall-two-sixths, .gameCrusher3Wrap .wall-four-twelfths {
    width: 33.33333%; }
  .gameCrusher3Wrap .wall-two-thirds, .gameCrusher3Wrap .wall-four-sixths, .gameCrusher3Wrap .wall-eight-twelfths {
    width: 66.66667%; }
  .gameCrusher3Wrap .wall-one-quarter, .gameCrusher3Wrap .wall-two-eighths, .gameCrusher3Wrap .wall-three-twelfths {
    width: 25%; }
  .gameCrusher3Wrap .wall-three-quarters, .gameCrusher3Wrap .wall-six-eighths, .gameCrusher3Wrap .wall-nine-twelfths {
    width: 75%; }
  .gameCrusher3Wrap .wall-one-fifth, .gameCrusher3Wrap .wall-two-tenths {
    width: 20%; }
  .gameCrusher3Wrap .wall-two-fifths, .gameCrusher3Wrap .wall-four-tenths {
    width: 40%; }
  .gameCrusher3Wrap .wall-three-fifths, .gameCrusher3Wrap .wall-six-tenths {
    width: 60%; }
  .gameCrusher3Wrap .wall-four-fifths, .gameCrusher3Wrap .wall-eight-tenths {
    width: 80%; }
  .gameCrusher3Wrap .wall-one-sixth, .gameCrusher3Wrap .wall-two-twelfths {
    width: 16.66667%; }
  .gameCrusher3Wrap .wall-five-sixths, .gameCrusher3Wrap .wall-ten-twelfths {
    width: 83.33333%; }
  .gameCrusher3Wrap .wall-one-eighth {
    width: 12.5%; }
  .gameCrusher3Wrap .wall-three-eighths {
    width: 37.5%; }
  .gameCrusher3Wrap .wall-five-eighths {
    width: 62.5%; }
  .gameCrusher3Wrap .wall-seven-eighths {
    width: 87.5%; }
  .gameCrusher3Wrap .wall-one-tenth {
    width: 10%; }
  .gameCrusher3Wrap .wall-three-tenths {
    width: 30%; }
  .gameCrusher3Wrap .wall-seven-tenths {
    width: 70%; }
  .gameCrusher3Wrap .wall-nine-tenths {
    width: 90%; }
  .gameCrusher3Wrap .wall-one-twelfth {
    width: 8.33333%; }
  .gameCrusher3Wrap .wall-five-twelfths {
    width: 41.66667%; }
  .gameCrusher3Wrap .wall-seven-twelfths {
    width: 58.33333%; }
  .gameCrusher3Wrap .wall-eleven-twelfths {
    width: 91.66667%; } }

.gameCrusher3Wrap .cf:after {
  display: table;
  content: "";
  clear: both; }

.gameCrusher3Wrap .ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

.gameCrusher3Wrap .hidden {
  display: none;
  visibility: hidden; }

.gameCrusher3Wrap .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.gameCrusher3Wrap .visuallyhidden.focusable:active,
.gameCrusher3Wrap .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

@media screen and (max-width: 19.99em) {
  .gameCrusher3Wrap .hidden-below-hand {
    display: none; } }

@media screen and (min-width: 20em) {
  .gameCrusher3Wrap .hidden-hand-and-up {
    display: none; } }

@media screen and (max-width: 40.615em) {
  .gameCrusher3Wrap .hidden-below-lap {
    display: none; } }

@media screen and (min-width: 40.625em) {
  .gameCrusher3Wrap .hidden-lap-and-up {
    display: none; } }

@media screen and (max-width: 56.24em) {
  .gameCrusher3Wrap .hidden-below-desk {
    display: none; } }

@media screen and (min-width: 56.25em) {
  .gameCrusher3Wrap .hidden-desk-and-up {
    display: none; } }

@media screen and (max-width: 74.99em) {
  .gameCrusher3Wrap .hidden-below-wall {
    display: none; } }

@media screen and (min-width: 75em) {
  .gameCrusher3Wrap .hidden-wall-and-up {
    display: none; } }

.gameCrusher3Wrap .float-right {
  float: right !important; }

.gameCrusher3Wrap .float-left {
  float: left !important; }

.gameCrusher3Wrap .text-left {
  text-align: left !important; }

.gameCrusher3Wrap .text-center {
  text-align: center !important; }

.gameCrusher3Wrap .text-right {
  text-align: right !important; }

.gameCrusher3Wrap .text-upper {
  text-transform: uppercase !important; }

.gameCrusher3Wrap .text-strong {
  font-weight: bold !important; }

.gameCrusher3Wrap .text-nowrap {
  white-space: nowrap !important; }

.gameCrusher3Wrap .display-table {
  display: table;
  width: 100%; }

.gameCrusher3Wrap .display-row {
  display: table-row; }

.gameCrusher3Wrap .display-cell {
  display: table-cell;
  vertical-align: middle; }

.gameCrusher3Wrap .anchor-plain {
  color: inherit; }
  .gameCrusher3Wrap .anchor-plain:hover, .gameCrusher3Wrap .anchor-plain:focus {
    text-decoration: none; }

html .gameCrusher3Wrap {
  font: 0.625em/2.8 "Lato", Arial, Helvetica, sans-serif !important;
  color: #333333;
  background: #ffffff;
  -webkit-tap-highlight-color: transparent; }

.gameCrusher3Wrap a {
  color: #7abcb5;
  text-decoration: none; }
  .gameCrusher3Wrap a:hover, .gameCrusher3Wrap a:focus {
    text-decoration: underline; }

.gameCrusher3Wrap i {
  font-style: normal; }

.gameCrusher3Wrap h1, .gameCrusher3Wrap .h1,
.gameCrusher3Wrap h2, .gameCrusher3Wrap .h2,
.gameCrusher3Wrap h3, .gameCrusher3Wrap .h3,
.gameCrusher3Wrap h4, .gameCrusher3Wrap .h4,
.gameCrusher3Wrap h5, .gameCrusher3Wrap .h5,
.gameCrusher3Wrap h6, .gameCrusher3Wrap .h6 {
  font-family: "Lato", Arial, Helvetica, sans-serif !important;
  font-weight: normal; }

.gameCrusher3Wrap h1, .gameCrusher3Wrap .h1 {
  font-size: 1.875rem;
  line-height: 1; }

.gameCrusher3Wrap h2, .gameCrusher3Wrap .h2 {
  font-size: 1.25rem;
  line-height: 1.2; }

.gameCrusher3Wrap h3, .gameCrusher3Wrap .h3 {
  font-size: 1rem;
  line-height: 1.4; }

.gameCrusher3Wrap h4, .gameCrusher3Wrap .h4 {
  font-size: 0.875rem; }

@media screen and (min-width: 40.625em) {
  .gameCrusher3Wrap h1, .gameCrusher3Wrap .h1 {
    font-size: 3.6rem; }
  .gameCrusher3Wrap h2, .gameCrusher3Wrap .h2 {
    font-size: 2.4rem; }
  .gameCrusher3Wrap h3, .gameCrusher3Wrap .h3 {
    font-size: 1.5rem; }
  .gameCrusher3Wrap h4, .gameCrusher3Wrap .h4 {
    font-size: 1.2rem; } }

.gameCrusher3Wrap .island,
.gameCrusher3Wrap .islet,
.gameCrusher3Wrap .landmark,
.gameCrusher3Wrap .landmarklet {
  display: block; }
  .gameCrusher3Wrap .island:after,
  .gameCrusher3Wrap .islet:after,
  .gameCrusher3Wrap .landmark:after,
  .gameCrusher3Wrap .landmarklet:after {
    display: table;
    content: "";
    clear: both; }
  .gameCrusher3Wrap .island > :last-child,
  .gameCrusher3Wrap .islet > :last-child,
  .gameCrusher3Wrap .landmark > :last-child,
  .gameCrusher3Wrap .landmarklet > :last-child {
    margin-bottom: 0; }

.gameCrusher3Wrap .island {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem; }

.gameCrusher3Wrap .islet {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem; }

.gameCrusher3Wrap .landmark {
  margin-bottom: 5.6rem; }

.gameCrusher3Wrap .landmarklet {
  margin-bottom: 2.8rem; }

.gameCrusher3Wrap .media:after {
  display: table;
  content: "";
  clear: both; }

.gameCrusher3Wrap .media__item {
  float: left;
  margin-right: 1.4rem; }
  .gameCrusher3Wrap .media__item img,
  .gameCrusher3Wrap .media__item video,
  .gameCrusher3Wrap .media__item iframe,
  .gameCrusher3Wrap .media__item object {
    display: block; }

.gameCrusher3Wrap .media__body,
.gameCrusher3Wrap .media__body > :last-child {
  margin-bottom: 0; }

.gameCrusher3Wrap .media--flip > .media__item {
  float: right;
  margin-right: 0;
  margin-left: 1.4rem; }

.gameCrusher3Wrap .media--nowrap > .media__body {
  overflow: hidden; }

.gameCrusher3Wrap .media--valign {
  display: table;
  width: 100%; }
  .gameCrusher3Wrap .media--valign .media__item,
  .gameCrusher3Wrap .media--valign .media__body {
    float: none;
    display: table-cell;
    vertical-align: middle; }
  .gameCrusher3Wrap .media--valign .media__item {
    padding-right: 1.4rem; }
    .gameCrusher3Wrap .media--valign .media__item img {
      width: auto !important;
      max-width: none !important; }

body {
  min-width: 320px; }

.gameCrusher3Wrap .site-wrapper {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%; }

html {
  /** end body */ }
  html body {
    margin: 0;
    /** end .gameCrusher3Wrap */ }
    html body .gameCrusher3Wrap {
      font-size: 10px !important;
      line-height: 1.3 !important;
      text-align: center;
      overflow: hidden;
      -webkit-font-smoothing: antialiased;
      /** end .site-wrapper */ }
      html body .gameCrusher3Wrap *, html body .gameCrusher3Wrap :before, html body .gameCrusher3Wrap :after {
        box-sizing: border-box; }
      html body .gameCrusher3Wrap .site-wrapper {
        padding: 0;
        /** end .accordionModule */ }
        html body .gameCrusher3Wrap .site-wrapper h1, html body .gameCrusher3Wrap .site-wrapper h2, html body .gameCrusher3Wrap .site-wrapper h3, html body .gameCrusher3Wrap .site-wrapper h4, html body .gameCrusher3Wrap .site-wrapper h5, html body .gameCrusher3Wrap .site-wrapper h6 {
          text-transform: uppercase;
          letter-spacing: 2px; }
        html body .gameCrusher3Wrap .site-wrapper .accordionModule {
          color: #ffffff;
          text-align: left; }
          html body .gameCrusher3Wrap .site-wrapper .accordionModule .item {
            padding: 0 2%;
            background-color: rgba(51, 51, 51, 0.9);
            position: relative;
            cursor: pointer;
            border-bottom: thin solid #ffffff; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item:last-child {
              border-bottom: none; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item h3 {
              margin: 2.5em 0;
              transition: margin-bottom .5s ease-in-out; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item p, html body .gameCrusher3Wrap .site-wrapper .accordionModule .item img {
              transition: margin-bottom .5s ease-in-out; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item p.learnMore {
              text-transform: uppercase;
              font-weight: bold;
              font-size: 1.5em;
              display: none; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item .subtext {
              text-transform: uppercase;
              font-weight: bold; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item img.learnMoreBtn {
              max-width: 50px;
              position: absolute;
              right: 2%;
              top: 40%;
              top: calc(50% - 25px);
              z-index: 2;
              transition: -webkit-transform .45s ease-in-out;
              transition: transform .45s ease-in-out;
              transition: transform .45s ease-in-out, -webkit-transform .45s ease-in-out; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item .content {
              display: none; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item .copy {
              border: none; }
              html body .gameCrusher3Wrap .site-wrapper .accordionModule .item .copy h3 {
                border: none; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.activeItem img.learnMoreBtn {
              -webkit-transform: rotate(47deg);
                  -ms-transform: rotate(47deg);
                      transform: rotate(47deg); }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.activeItem:hover .copy h3.main {
              margin-bottom: 2em; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.activeItem:hover .copy p.learnMore {
              display: none; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.activeItem .copy h3.main {
              display: none; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.activeItem .copy .content {
              display: block;
              max-width: 500px;
              float: left;
              width: 80%; }
              html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.activeItem .copy .content h3 {
                margin: 1em 0;
                font-size: 2.5em; }
              html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.activeItem .copy .content p {
                font-size: 1.5em; }
                html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.activeItem .copy .content p:last-child {
                  margin-bottom: 2em; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item:hover .copy h3.main {
              margin-bottom: 1em; }
            html body .gameCrusher3Wrap .site-wrapper .accordionModule .item:hover .copy p.learnMore {
              margin-bottom: 2em;
              display: block; }

/** end html */
@media (min-width: 900px) {
  html body .gameCrusher3Wrap .site-wrapper .flex-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    html body .gameCrusher3Wrap .site-wrapper .flex-container .item {
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-align-content: stretch;
          -ms-flex-line-pack: stretch;
              align-content: stretch; }
  html body .gameCrusher3Wrap .site-wrapper .accordionModule .item {
    border-bottom: none;
    border-right: thin solid #ffffff;
    min-height: 600px; }
    html body .gameCrusher3Wrap .site-wrapper .accordionModule .item .copy {
      position: absolute;
      z-index: 10;
      width: 88%;
      top: 46%;
      top: calc(50% - 66px); }
      html body .gameCrusher3Wrap .site-wrapper .accordionModule .item .copy h3.main {
        margin: 0 0 2em 0; }
    html body .gameCrusher3Wrap .site-wrapper .accordionModule .item img.learnMoreBtn {
      position: static; }
    html body .gameCrusher3Wrap .site-wrapper .accordionModule .item:last-child {
      border-right: none; }
    html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.closedItem .copy {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      width: 100%;
      top: 4%;
      left: 0;
      white-space: nowrap; }
      html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.closedItem .copy h3.main {
        margin-bottom: .15em; }
    html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.closedItem:hover img, html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.closedItem:hover p.learnMore {
      margin: 0; }
    html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.closedItem:hover h3.main {
      margin-bottom: .15em; }
    html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.closedItem:hover p.learnMore {
      position: absolute;
      right: -18em;
      top: .5em; }
    html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.activeItem .copy {
      top: calc(50% - 140px); }
      html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.activeItem .copy .content {
        float: none; }
        html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.activeItem .copy .content h3 {
          font-size: 3.5em;
          font-weight: lighter;
          margin-top: 0; } }

@media (min-width: 1200px) {
  html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.closedItem .copy {
    top: 8%; }
    html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.closedItem .copy h3.main {
      margin-bottom: .5em; } }

@media (min-width: 1650px) {
  html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.closedItem .copy {
    top: 12%; }
    html body .gameCrusher3Wrap .site-wrapper .accordionModule .item.closedItem .copy h3.main {
      margin-bottom: .25em; }
  html body .gameCrusher3Wrap .site-wrapper .accordionModule .item .copy {
    top: calc(50% - 102px); }
    html body .gameCrusher3Wrap .site-wrapper .accordionModule .item .copy h3.main {
      font-size: 4.5em;
      font-weight: lighter; }
  html body .gameCrusher3Wrap .site-wrapper .accordionModule .item img.learnMoreBtn {
    max-width: 75px; } }
